# Temp dir
export TMPDIR={{ .filesystem.tmpDir | quote }}

export SHELL={{ .shell }}

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Text editor: {{ .editor }}
export EDITOR={{ .editor }}
export VISUAL={{ .editor }}

# cargo
if [[ -e "$HOME/.cargo/env" ]]; then
  . "$HOME/.cargo/env"
fi

{{- if eq .chezmoi.os "linux" -}}
{{- if (.chezmoi.kernel.osrelease | lower | contains "wsl" ) }}

# WSL
path+=(
  /mnt/c/Windows
  /mnt/c/Windows/system32
  /mnt/c/Windows/System32/WindowsPowerShell/v1.0
)
{{- end }}
{{- end }}
