# Temp dir
export TMPDIR={{ .filesystem.tmpDir | quote }}

export SHELL={{ .shell }}

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Text editor: {{ .editor }}
export EDITOR={{ .editor }}
export VISUAL={{ .editor }}

# cargo
if [[ -e "$HOME/.cargo/env" ]]; then
  . "$HOME/.cargo/env"
fi
