# Temp dir
export TMPDIR={{ .filesystem.tmpDir | quote }}

export SHELL={{ .shell }}

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Text editor: {{ .editor }}
export EDITOR={{ .editor }}
export VISUAL={{ .editor }}

# cargo
if [[ -e "$HOME/.cargo/env" ]]; then
  . "$HOME/.cargo/env"
fi

# browser
{{ if eq .chezmoi.os "linux" -}}
  {{- if (.chezmoi.kernel.osrelease | lower | contains "wsl" ) -}}
    {{- if lookPath "wslview" -}}
export BROWSER=wslview
    {{- else if lookPath "powershell.exe" -}}
export BROWSER="powershell.exe -c Start-Process"
    {{- else if lookPath "cmd.exe" -}}
export BROWSER="cmd.exe /c start ''"
    {{- else if lookPath "explorer.exe" -}}
export BROWSER=explorer.exe
    {{- end -}}
  {{- else if lookPath "w3m" -}}
export BROWSER=w3m
  {{- end -}}
{{- end -}}

# bun
if [[ -x "$HOME/.bun/bin/bun" ]]; then
  export BUN_INSTALL="$HOME/.bun"
  export PATH="$BUN_INSTALL/bin:$PATH"
fi
