{{ if and (lookPath "timew") (lookPath "timew-autostop") -}}
[Unit]
Description=Daily Timewarrior safety-net auto-stop at 23:59

[Timer]
OnCalendar=*-*-* 23:59:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
{{- end }}
