{{ if and (lookPath "timew") (lookPath "timew-nudge") -}}
[Unit]
Description=Daily Timewarrior nudge at 22:30

[Timer]
OnCalendar=*-*-* 22:30:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
{{- end }}
